<!-- Write HTML code here -->
{% extends 'base1.html' %}
{% load static %}

{% block tabs %}
<!-- Icon -->
<li class="nav-item">
  <a class="nav-link" href="{% url 'app:house' %}">
	<i class="fab fa-twitter"></i>
  </a>
</li>
<!-- Icon -->
<li class="nav-item me-3 me-lg-0">
  <a class="current" href="{% url 'app:yt' %}">
	<i class="fab fa-youtube"></i>
  </a>
</li>
<!-- Icon -->
<li class="nav-item me-3 me-lg-0">
  <a class="nav-link" href="/linkedin/">
	<i class="fab fa-linkedin-in"></i>
  </a>
</li>
<li class="nav-item me-3 me-lg-0">
  <a class="nav-link" href="{% url 'app:insta' %}">
	<i class="fab fa-instagram"></i>
  </a>
</li>

</li>
{% endblock %}


  {% block content %}
  <!--Main layout-->
  <main style="margin-top: 100px">


  <div class="container">
	<h1 class="text-center"> Youtube Data </h1><br>
	<button >Get External Content</button>

	<div id = 'loading' class="spinner-border" role="status" style="display: none;">
        <span class="sr-only">Loading...</span>
  </div>


    
	<!-- <h2 class="text-center">20 Tweets</h2><br> -->
	<h2>Account Info</h2>
	<h3>Download Post Data:</h3><button ><a href="{{file_url_1}}">Click to view</a></button><br>
	
	<table class="table table-dark table-striped">
		<thead>
		<tr>
			<th>followers</th>
			<th>following</th>

		</thead>
		<tbody>
		<!-- jinja2 Technique -->

		<tr>
			<td>{{yt_followers}}</td>
			<td>{{yt_following}}</td>

	
		</tr>

		</tbody>
	</table>
	<h2>Comments on Video Data</h2>
	<h3>Download Post Data:</h3><button ><a href="{{file_url_2}}">Click to view</a></button><br>
	
	<table class="table table-dark table-striped">
		<thead>
		<tr>
			<th>Name</th>
			<th>Time</th>
			<th>Comments</th>
			<th>likes</th>

		</thead>
		<tbody>
		<!-- jinja2 Technique -->

		{% for i in comments_yt %}
		<tr>
			<td>{{i.name}}</td>
			<td>{{i.time}}</td>
			<td>{{i.comments}}</td>
			<td>{{i.likes}}</td>
			


	
		</tr>
		{% endfor %}

		</tbody>
	</table>
	<h2>Videos data</h2>
	<h3>Download Post Data:</h3><button ><a href="{{file_url_3}}">Click to view</a></button><br>

	<table class="table table-dark table-striped">
		<thead>
		<tr>
			<th>Duration</th>
			<th>Name</th>
			<th>Views</th>
			<th>time</th>

		</thead>
		<tbody>
		<!-- jinja2 Technique -->
		{% for i in video_yt %}
		<tr>
			<td>{{i.duration}}</td>
			<td>{{i.names}}</td>
			<td>{{i.views}}</td>
			<td>{{i.time}}</td>
			


	
		</tr>
		{% endfor %}

		</tbody>

	</table>
	<script>
    
        // Function for adding User data and removing loading animation
        var replace_data = function(){
            $('#loading').remove();
        }
    
        // AJAX call when page has loaded
        $(document).ready(function(){
            $('button').click(function(){
                $('button').hide();
                $('#loading').show();

                $.ajax({
                    url: '/yt/data/',
                    data: {
                        'name': 'data'
                    },
                    data_type: 'json',
                    success: function(){
                    		console.log('gg')
                        replace_data();
                        location.reload();
                    }
                });
        });
        });
    
    </script>

	</div>
</main>
  <!--Main layout-->
  {% endblock %}

</body>

</html>