<!-- Write HTML code here -->
{% extends 'base1.html' %}
{% load static %}

{% block tabs %}
<!-- Icon -->
<li class="nav-item">
  <a class="nav-link" href="{% url 'app:house' %}">
	<i class="fab fa-twitter"></i>
  </a>
</li>
<!-- Icon -->
<li class="nav-item me-3 me-lg-0">
  <a class="current" href="{% url 'app:yt' %}">
	<i class="fab fa-youtube"></i>
  </a>
</li>
<!-- Icon -->
<li class="nav-item me-3 me-lg-0">
  <a class="nav-link" href="/linkedin/">
	<i class="fab fa-linkedin-in"></i>
  </a>
</li>
<li class="nav-item me-3 me-lg-0">
  <a class="nav-link" href="{% url 'app:insta' %}">
	<i class="fab fa-instagram"></i>
  </a>
</li>

</li>
{% endblock %}


  {% block content %}
  <!--Main layout-->
  <main style="margin-top: 100px">


  <div class="container">
	<h1 class="text-center"> Youtube Data </h1><br>
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group" >
        <label for="screen">Press Run Extract data </label>
        
      </div>

      <button type="submit" class="btn btn-primary">Run</button>
    </form>
		</br>


    
	<!-- <h2 class="text-center">20 Tweets</h2><br> -->
	<h2>Account Info</h2>
	<h3>Download Post Data:</h3><button ><a href="{{file_url_1}}">Click to view</a></button><br>
	
	<table class="table table-dark table-striped">
		<thead>
		<tr>
			<th>followers</th>
			<th>following</th>

		</thead>
		<tbody>
		<!-- jinja2 Technique -->

		<tr>
			<td>{{yt_followers}}</td>
			<td>{{yt_following}}</td>

	
		</tr>

		</tbody>
	</table>
	<h2>Comments on Video Data</h2>
	<h3>Download Post Data:</h3><button ><a href="{{file_url_2}}">Click to view</a></button><br>
	
	<table class="table table-dark table-striped">
		<thead>
		<tr>
			<th>Name</th>
			<th>Time</th>
			<th>Comments</th>
			<th>likes</th>

		</thead>
		<tbody>
		<!-- jinja2 Technique -->

		{% for i in comments_yt %}
		<tr>
			<td>{{i.name}}</td>
			<td>{{i.time}}</td>
			<td>{{i.comments}}</td>
			<td>{{i.likes}}</td>
			


	
		</tr>
		{% endfor %}

		</tbody>
	</table>
	<h2>Videos data</h2>
	<h3>Download Post Data:</h3><button ><a href="{{file_url_3}}">Click to view</a></button><br>

	<table class="table table-dark table-striped">
		<thead>
		<tr>
			<th>Duration</th>
			<th>Name</th>
			<th>Views</th>

		</thead>
		<tbody>
		<!-- jinja2 Technique -->
		{% for i in video_yt %}
		<tr>
			<td>{{i.duration}}</td>
			<td>{{i.name}}</td>
			<td>{{i.views}}</td>
			


	
		</tr>
		{% endfor %}

		</tbody>

	</table>

	</div>
</main>
  <!--Main layout-->
  {% endblock %}

</body>

</html>